*, html,body{
    margin: 1%;
    padding: 0;
}

h1{
    background-color: yellow;
    width: fit-content;
    padding:6px ;
    margin: 5px;
}

.text{
    background-color:  blue;
    width: fit-content;
    padding:6px ;
    margin: 5px;
}